@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
}

.sidebar {
    position: absolute;
  background-color: rgb(167, 164, 164);
  font-family: "Fira Sans", sans-serif;
  height: 100vh;
  transition: transform 0.4s ease-in ;
}

.sidebar nav {
  padding: 70px;
}

.sidebar nav li {
  list-style: none;
  font-size: 30px;
  padding: 33px 0;
}

.sidebar nav li a {
  text-decoration: none;
  color: #000000;
}

.main {
  /* background-color: yellow; */
  width: 90vw;
}

.container {
  display: flex;
}

.infocontainer {
  /* background-color: rgb(207, 224, 158); */
  height: 58vh;
  width: 80vw;
  margin: 144px auto;
  display: flex;
  justify-content: space-around;
}

.devinfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Source Code Pro", monospace;
}

.hello {
  font-size: 55px;
}

.name {
  font-size: 50px;
  font-weight: bold;
  font-family: "Fira Sans", sans-serif;
}

.about {
  font-size: 40px;
}

.moreabout {
  padding: 12px 2px;
  font-size: 20px;
  font-family: "Fira Sans", sans-serif;
}

.buttons {
  margin-top: 30px;
}
.buttons button {
  padding: 8px 7px;
  border-radius: 14px;
  color: #e4f1fd;
  background-color: #139595;
  font-weight: bold;
  font-size: 16px;
  margin: 1px 9px;
  cursor: pointer;
}

.buttons button:hover {
  color: #101213;
  background-color: #e4f1fd;
}

.contactform form button {
  padding: 7px 13px;
  border-radius: 10px;
  color: #e4f1fd;
  background-color: #139595;
  font-weight: bold;
  font-size: 13px;
  margin: 5px 2px;
  cursor: pointer;
}

.contactform form button:hover {
  color: #101213;
  background-color: #e4f1fd;
}

.devpic img {
  height: 58vh;
}

.contactform {
  padding: 0px 40px;
  padding-top: 120px;
}

.contactform h2 {
  font-family: "Fira Sans", sans-serif;
}

.contactform form div {
  padding: 8px 0px;
  display: flex;
  flex-direction: column;
  width: 17vw;
  border-radius: 10px;
  font-size: 20px;
}

.contactform form div input {
  width: 26vw;
  border-radius: 5px;
  margin: 6px 0 0 0;
  padding: 3px;
}

#emailHelp {
  font-size: 10px;
  color: #101213;
  margin: 0 5px;
  padding: 3px 0 0 0;
}

#form-check {
  flex-direction: row;
}

#form-check input {
  width: 20px;
  margin: 3px 0;
}

.blogitem {
  margin: 45px;
  font-family: "Source Code Pro", monospace;
}

.blogitem p {
  font-family: "Fira Sans", sans-serif;
}

.blogContainer h1 {
  font-family: "IBM Plex Sans Thai", sans-serif;
  margin: 20px;
}

.blogitem h2 {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-weight: bold;
}

.blogitem li {
  font-family: "Fira Sans", sans-serif;
}
.blogitem .btnn {
  padding: 6px 5px;
  border-radius: 10px;
  color: #e4f1fd;
  background-color: #139595;
  font-weight: bold;
  font-size: 13px;
  margin: 7px 0px;
  cursor: pointer;
}

.intro h1,p{
    padding: 5px 10px;
}
.intro h3{
    padding: 15px 10px;
}

.intro h1,h3{
    font-family: "Fira Sans", sans-serif;

}

.skillitem{
    display: flex;
    align-items: center;
}

.skill{
    height: 5px;
    width: 50px;
    background-color: red;
    border: 1px  solid black;
    border-left: 1px;
}

.hundred{
    height: 5px;
    width: 100px;
    background-color: green;

}

.seventyfive{
    height: 5px;
    width: 75px;
    background-color: rgb(7, 209, 7);

}

.fifty{
    height: 5px;
    width: 50px;
    background-color: orange;
}

.twentyfive{
    height: 5px;
    width: 25px;
    background-color: orangered;
}
.zero{
    height: 5px;
    width: 0px;
    background-color: red;
}

.intro h5{
    font-size: medium;
}

.hamburger{
    position:absolute;
    cursor: pointer;
    top: 6px;
    left: 7px;
}

.cross{
    margin-left: 213px;
    margin-bottom: 4px;

}

/* media query syntax */
@media (max-width:1615px){
    
    /* .sidebar{
        
            transform: translate(-443px,0px);
            position: absolute;
        } */
}

.sidebargo{
        
    transform: translate(-443px,0px);
    position: absolute;
}

